<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<title>What is News?!</title>

	<!-- meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">



	<!-- Metadata -->
	<meta name="author" content="Beatrice Katcher">
	<meta name="description" content="Simple site illustrating journalism basics">
	<meta name="keywords" content="kids journalism, journalism education, news">

	<!-- Open Graph Meta Data -->
	<meta property="og:description" content="Simple site illustrating journalism basics">
	<meta property="og:image" content="http://wagerfield.github.io/parallax/assets/images/thumbnail.png">
	<meta property="og:site_name" content="parallax.html">
	<meta property="og:title" content="parallax.html">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://">

	<!-- Twitter Card Meta Data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="http://beatricekatcher.com">
	<meta name="twitter:creator" content="@beatricekatcher">
	<meta name="twitter:title" content="What's News?">
	<meta name="twitter:description" content="Simple site illustrating journalism basics">
	<meta name="twitter:image" content="http://">


	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Simple Line Icons-->
	<link rel="stylesheet" href="css/simple-line-icons.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!-- Salvattore -->
	<script src="js/salvattore.js"></script>
	<!-- Theme Style -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- Angular Cards -->
	<link rel="stylesheet" href="node_modules/angular-swing/examples/card-stack/card-stack.css">
	<link rel="stylesheet" href="node_modules/angular-swing/examples/card-stack/card-stack.scss">

	<!-- Loader -->

	<link rel="stylesheet" href="css/fakeLoader.css">
	<!-- Scroll Magic -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
	<!--Snap SVG --->
	<script src="SnapSVGAnimator/js/vendor/snap.svg/snap.svg-min.js"></script>
	<script src="SnapSVGAnimator/js/SnapSVGAnimator.min.js"></script>
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="node_modules/angular-swing/examples/card-stack/card-stack.js"></script>
	<script src="node_modules/angular-swing/dist/swing.js"></script>
	<!-- Animation -->
	<script src="js/jquery.lettering.js"></script>

	<!-- MailMunch for What's News -->
	<!-- Paste this code right before the </head> tag on every page of your site. -->
	<script src="//a.mailmunch.co/app/v1/site.js" id="mailmunch-script" data-mailmunch-site-id="243986" async="async"></script>

	
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>



	<div id="what-page">
		<div id="what-wrap">
			<header id="what-hero" data-section="home" role="banner" style="background: url(images/WoodPanel.png) top left; background-size: cover;">
				<div class="what-overlay"></div>
				<div class="what-intro">
					<div class="container">
						<div class="row">
							<ul id="scene" class="container" data-invert-x="false" data-invert-y="true">


								<li class="layer" data-depth="0.10">
									<img class="whitepaperbg" src="images/svgs/newpaper.svg">
								</li>
								
								<li class="layer" data-depth="0.80"><img class="hands" src="images/svgs/handslrg.svg">
								</li>

							</ul>

						</div>
					</div>
				</div>
			</header>
			<!-- END .header -->



			<div id="what-features" data-section="whois">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 what-section-heading text-center">
							<h2 class="what-lead to-animate">Who is a Journalist?</h2>
							<p class="what-sub to-animate">A journalist is someone who investigates, collects and presents information as a news story. News stories can be presented through <b>newspapers, magazines, radio, television</b> and the <b>internet</b>.</p>
						</div>
						<div class="col-md-4 col-md-offset-4 text-center to-animate fadeInUp animated">

							<div class="embed-responsive embed-responsive-4by3">

								<iframe class="svgframe" scrolling="no" src="journalists.html"></iframe>

							</div>
						</div>

					</div>
				</div>

			</div>

			<div id="what-products" data-section="whatis">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 what-section-heading text-center">
							<h2 class="what-lead animate white">What is News?</h2>
							<p class="white what-sub animate-single product-animate-2">What makes a story “newsworthy” is generally based on the following criteria:</p>
						</div>


						<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
							<a href="images/product_1.jpg" class="what-figure to-animate image-popup">
								<figure>
									<img src="images/pngs/new.png" class="img-responsive">
								</figure>
								<h3 class="what-figure-lead">Is it New?</h3>
								<p class="what-figure-text">Uncovering information that few people knew.</p>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
							<a href="images/product_2.jpg" class="what-figure to-animate image-popup">
								<figure>
									<img src="images/pngs/significant.png" class="img-responsive">
								</figure>
								<h3 class="what-figure-lead">Is it Interesting or Significant?</h3>
								<p class="what-figure-text">How will space travel impact your life?</p>
							</a>
						</div>
						<div class="clearfix visible-sm-block"></div>
						<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
							<a href="images/product_3.jpg" class="what-figure to-animate image-popup">
								<figure>
									<img src="images/pngs/unusual.png" class="img-responsive">
								</figure>
								<h3 class="what-figure-lead">Is it Unusual?</h3>
								<p class="what-figure-text">Weird, strange but true stories.</p>
							</a>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
							<a href="images/product_4.jpg" class="what-figure to-animate image-popup">
								<figure>
									<img src="images/pngs/people.png" class="img-responsive">
								</figure>
								<h3 class="what-figure-lead">Is it about people?</h3>
								<p class="what-figure-text">Real life, human interest.</p>
							</a>
						</div>


					</div>
				</div>

			</div>


			<div class="what-bg-section cta" id="what-cta" style="background-image: url(images/purplebokehsm.jpg); background-attachment: fixed;" scroll="false">
				<div class="what-overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="what-hero-wrap">
								<div class="what-hero-intro text-center">
									<div class="row">
										<div class="col-md-8 col-md-offset-2 what-section-heading text-center">

											<h2 class="what-lead to-animate">Pop Quiz!</h2>
											<p class="what-sub to-animate">Below are some news stories from the New York Times. Swipe the news card <span>left</span> if the story is an <span>opinion</span> article. Swipe <span>right</span> for <span>news</span>.</p>


											<div class="col-md-12 text-center to-animate fadeInUp animated">
												

												<body ng-app="card-stack-demo" ng-controller="card-stack-playground">
													<div id="viewport" content scroll="false">

														<ul class="stack" swing-stack>
															<li swing-card swing-on-throwout="console.log(eventName, eventObject)" swing-on-throwoutleft="throwoutleft(card)" swing-on-throwoutright="throwoutright(card)" swing-on-throwin="console.log(eventName, eventObject)" swing-on-dragstart="console.log(eventName, eventObject)" swing-on-dragmove="console.log(eventName, eventObject)" swing-on-dragend="console.log(eventName, eventObject)" ng-repeat="card in cards" ng-class="card.name">

																<div class="subhead">

																	New York Times -
																	<script>
																		var mydate = new Date()
																		var year = mydate.getYear()
																		if (year < 1000)
																			year += 1900
																		var day = mydate.getDay()
																		var month = mydate.getMonth()
																		var daym = mydate.getDate()
																		if (daym < 10)
																			daym = "0" + daym
																		var dayarray = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
																		var montharray = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
																		document.write("<small><font color='0B3C49' >" + dayarray[day] + ", " + montharray[month] + " " + daym + ", " + year + "</font></small>")
																	</script>
																</div>
																<h2 class="card-title">{{card.title}}</h2>
																<h2 class="headline hl4">{{card.byline}}</h2>
																<img class="viewport.image" src="{{card.image.url}}" />
																<p class="headline hl4">{{card.lead}}</p>

															</li>
														</ul>

													</div>
													<div class="clearfix col-sm-12"></div>
													<div class="scores__container col-sm-12">
														<div class="score__container">
															<p>SCORE:
																<br> <span id="score" class="score">{{score}} / {{total}}</span></p>
														</div>
														<div id="pb-container" class="pb__container">
															<p>
																<!-- PERSONAL BEST CHANGING THIS: -->
															</p>
															<div class="item item-body success animated">
																<h1>{{feedback}}</h1>


															</div>

															<!--  <div class="item item-body">
																
																<div ng-show="wrongAnswerslist">
																			<p> Inspect these news stories a little closer </p>

																			<ul>
																				<li ng-repeat="story in wrongAnswer"><a href="{{resp[i].url}}">{{resp[i].title}}</a>
																				</li>
																			</ul>
																		</div>

															</div>
														-->

														</div>
													</div>

													<!-- Preload Game Sounds -->
													<audio preload="auto" id="wrong">
														<source src="../audio/wronganswer.mp3"></source>
													</audio>
													<audio preload="auto" id="correct">
														<source src="../audio/correctanswer.mp3"></source>
													</audio>
											</div>

										</div>

									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-md-offset-4 text-center to-animate fadeInUp animated">
							<a href="http://developer.nytimes.com."><img class="nytattrib" src="http://static01.nytimes.com/packages/images/developer/logos/poweredby_nytimes_150c.png"> </a>



						</div>
					</div>
				</div>
			</div>
			<div id="what-features-2" data-section="design">
				<div class="what-features-2-content">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 what-section-heading text-center">
								<h2 class="what-lead to-animate">When is it News or Opinion?</h2>
								<p class="what-sub to-animate">Journalism is writing that tells people what happens. Sometimes, this writing comes out as a well-supported personal point-of-view or opinion.</p>

								<h4 class="what-uppercase-sm what-text to-animate">Opinion Journalism Examples</h4>
							</div>
							<div class="col-md-4 what-text-wrap">
								<div class="row text-center">
									<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 what-text animate-object features-2-animate-3">
										<span class="what-icon"><i class="icon-notebook"></i></span>
										<h4 class="what-uppercase-sm">Editorials</h4>
										<p>Unsigned articles that express a publication's opinion.</p>
									</div>
									<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 what-text animate-object features-2-animate-4">
										<span class="what-icon"><i class="icon-book-open"></i></span>
										<h4 class="what-uppercase-sm">Columns</h4>
										<p>Signed articles that express the writer's reporting and his conclusions.</p>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-md-push-4 what-text-wrap">
								<div class="row text-center">
									<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 what-text animate-object features-2-animate-5">
										<span class="what-icon"><i class="icon-film"></i></span>
										<h4 class="what-uppercase-sm">Reviews</h4>
										<p>Such as concert, restaurant or movie reviews.</p>
									</div>


									<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 what-text animate-object features-2-animate-6">
										<span class="what-icon"><i class="icon-mustache"></i></span>
										<h4 class="what-uppercase-sm">Cartoons</h4>
										<p>Many editorial cartoons offer opinionated political commentary in the form of satire or jokes.</p>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-md-pull-4 what-image animate-object features-2-animate-2">
								<p class="text-center">
									<div class="owl-carousel">
										<img src="images/column.png">
										<img src="images/comic.png">
										<img src="images/movie.png">
									</div>
								</p>
							</div>
						</div>
					</div>
				</div>

			</div>







			<div id="what-subscribe">
				<div class="container">
					<div class="row animate-box">
						<div class='mailmunch-forms-widget-318491'></div>
					</div>
				</div>
			</div>
			<div id="what-features-3" data-section="benefits">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 what-section-heading text-center">
							<h2 class="what-lead animate-single features3-animate-1">More to Come!</h2>
							<p class="what-sub animate-single features3-animate-2">Thanks for reading! This project is in BETA, so please subscribe for updates!</p>
						</div>


					</div>
				</div>
			</div>

		</div>
		<footer id="what-footer" style="">
			<div class="what-overlay"></div>
			<div class="what-footer-content">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-4 col-md-push-3">
							<h3 class="what-lead">Read</h3>
							<ul>
								<li><a href="http://newsela.com">Newsela</a></li>
								<li><a href="http://www.newsy.com/">Newsy</a></li>
								<li><a href="http://learning.blogs.nytimes.com/?module=BlogMain&action=Click&region=Header&pgtype=Blogs&version=Blog%20Category">The New York Times' Learning Network</a></li>
								<li><a href="http://tweentribune.com/">Smithsonian Tween Tribune</a></li>
								<li><a href="http://www.cnn.com/studentnews">CNN Student News</a></li>
								<li><a href="https://www.washingtonpost.com/lifestyle/kidspost/">The Washington Post's KidsPost</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-4 col-md-push-3">
							<h3 class="what-lead">Practice</h3>
							<ul>
								<li><a href="https://studentreportinglabs.org/">PBS NewsHour Student Reporting Labs</a></li>
								<li><a href="http://studentpress.org/nspa/resources/resources-for-students/">Resources for Journalism Students</a></li>
								<li><a href="https://medium.com/@Journalism2ls/75-tools-for-investigative-journalists-7df8b151db35#.k0okbiwly">95 Tools for Investigative Journalists</a></li>
								<li><a href="http://www.schooljournalism.org/websites-and-web-apps/">Journalism Websites and Web Apps</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-4 col-md-push-3">
							<h3 class="what-lead">Learn</h3>
							<ul>
								<li><a href="http://newsroom14.journalists.org/hack-the-planet/">Should Journalists Learn to Code?</a>
								</li>
								<li><a href="http://www.poynter.org/">The Poynter Institute for Media Studies</a></li>
								<li><a href="http://www.verificationhandbook.com/">Verification Handbook</a></li>
								<li><a href="http://www.robertniles.com/stats/">Stats for Writers</a></li>
								<li><a href="http://www.smalldatajournalism.com/readings/">Suggested Readings List by Dan Nguyen</a></li>
								<li><a href="http://www.spj.org/foi-guide-students.asp">Freedom of Information Act Student Guide</a></li>
								<li><a href="http://www.skilledup.com/articles/learn-journalism-online-free">Learn Journalism Online for Free </a></li>
							</ul>
						</div>

						<div class="col-md-3 col-sm-12 col-md-pull-9">
							<div class="what-footer-logo"><a href="index.html">What is News?</a></div>
							<p class="what-copyright"><small>&copy;  <script type="text/javascript">
                            document.write(new Date().getFullYear());
                        </script>. All Rights Reserved. <br>	by <a href="http://www.beatricekatcher.com/" target="_blank">Beatrice Katcher</a> </small></p>

						</div>

					</div>
				</div>
			</div>
		</footer>
	</div>
	</body>
	<!-- Necessary scripts -->

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Owl Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- toCount -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
	<script src="js/angular-resource.min.js"></script>
	<script src="js/jquery.actual.min.js"></script>
	<script src="js/smooth-scroll.js"></script>
	<script src="js/script.js"></script>
	<!-- Scripts -->
	<script src="deploy/parallax.js"></script>
	<script src="deploy/parallax.min.js"></script>
	<script>
		// Nothing new here...it's all in the CSS!
		var scene = document.getElementById('scene');
		var parallax = new Parallax(scene);
	</script>



</html>
